* {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: auto;
}
nav {
  display: flex;
  justify-content: space-between;
}

.search-parent {
  position: relative;
  color: #bababa;
}

.search-parent input {
  background: rgba(241, 241, 241, 1);

  border-radius: 66px;
  padding: 15px 30px;
  width: 500px;
  border: none;
}
.search-parent i {
  position: absolute;
  top: 17px;
  right: 20px;
}

.nav-items {
  display: flex;
  list-style: none;
  gap: 10px;
}

.nav-items li a {
  text-decoration: none;
  color: #707070;
}
