/* common css */

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.panda-btn {
  border-radius: 6px;
  background: linear-gradient(
    151deg,
    rgb(255, 88, 155) 0%,
    rgb(255, 29, 111) 100%
  );
  padding: 15px 35px;
  border: none;
  color: white;
  font-weight: bold;
}

.common-section-title {
  font-weight: 600;
  font-size: 36px;
}

/* Nav Section */
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.search-parent {
  position: relative;
  color: #bababa;
}

.search-parent input {
  background: rgba(241, 241, 241, 1);

  border-radius: 66px;
  padding: 15px 30px;
  width: 500px;
  border: none;
}
.search-parent i {
  position: absolute;
  top: 17px;
  right: 20px;
}

.nav-items {
  display: flex;
  list-style: none;
  gap: 10px;
}

.nav-items li a {
  text-decoration: none;
  color: #707070;
}

/* banner 
 */
.banner {
  background: rgba(254, 234, 233, 1);
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  padding: 28px;
  border-radius: 10px;
  margin-top: 25px;
}
.banner h2 {
  color: rgb(31, 31, 31);
  font-size: 52px;
  font-weight: bold;
}
.banner p {
  color: rgba(78, 78, 78, 1);
  max-width: 550px;
}

.banner img {
  width: 402px;
  height: 370px;
}

.banner-price {
  color: #ff136f;
  font-weight: bold;
  font-size: 41px;
  margin-bottom: 35px;
  display: block;
  margin-bottom: 0;
}
/* category */
.categories {
  margin: 64px auto;
}
.categories-card-container {
  display: flex;
  gap: 26px;
  width: 100%;
}

.card-category {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  align-items: center;

  flex: 1;
  padding: 20px;
  border-radius: 10px;
}
.card-category img {
  height: 55px;
}
.card-category h3 {
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.card-category-1 {
  background: linear-gradient(
    151.85deg,
    rgba(255, 156, 53, 1),
    rgba(255, 208, 25, 1) 100%
  );
}

.card-category:nth-child(1) {
  background: linear-gradient(
    151.85deg,
    rgba(255, 156, 53, 1),
    rgba(255, 208, 25, 1) 100%
  );
}
.card-category:nth-child(2) {
  background: linear-gradient(
    151.85deg,
    rgba(255, 88, 155) 0%,
    rgba(255, 19, 111) 100%
  );
}

.card-category:nth-child(3) {
  background: linear-gradient(
    151.85deg,
    rgba(66, 137, 255) 15.416%,
    rgba(65, 7, 248) 99.994%
  );
}

/* shoes section and Bag section   */
/* shoes */

.shoes-bacKpack-parent {
  background: rgb(244, 244, 244);
  padding: 50px 0;
  margin-top: 50px 0;
}

.shoe-card-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.shoes-backpack-section-title-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shoes-backpack-section-title-parent h2 {
  font-weight: bold;
  font-size: 36px;
}
.shoes-backpack-section-title-parent p {
  color: #ff9d00;
  font-weight: bold;
}
.shoe-card {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 25px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.46);
}
.card-price {
  display: block;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 12px;
}
.shoe-card img {
  width: 336px;
  height: 202px;
}
.shoe-card .panda-btn {
  background: black;
}

/* contact us section  */

.contact-us-parent {
  background-color: rgba(255, 242, 241, 1);
  text-align: center;
  padding: 35px 20px;
  margin: 35px auto;
  border-radius: 15px;
}
.contact-inp-btn-parent {
  display: flex;
  justify-content: center;
}

.contact-inp-btn-parent input {
  border: none;
  padding: 15px 152px;
}
